<a href="https://github.com/ryanv048/browserhistory/blob/main/index.html"></a>

<style>
  h2{
    font-family: Oswald;
  }
  p{
    font-family: Open-Sans;
    color: DarkBlue
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    marigin-right: 50px;
    background-color: Ivory;
    
  }

</style>
